<h1><%= @list.name %></h1>
<ul class="list-group">
  <% @bookmarks.each do |bookmark| %>
  <%# <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li class="list-group-item"><%= bookmark.movie.title %></li>
    <li class="list-group-item"><%= bookmark.movie.rating %></li>
    <li class="list-group-item"><%= bookmark.movie.overview %></li>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <%= link_to "delete", delete_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</ul>
